@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
  
  --color-brand-500: #000000;
  --color-brand-600: #1a1a1a;
  --color-accent-500: #fffb00; /* High energy yellow/lime often used in fitness */
}

@layer base {
  body {
    @apply bg-white text-neutral-900 antialiased selection:bg-black selection:text-white;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}